<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bit_x">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".dbHandler.DdHandler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bit_X">
        <activity
            android:name=".ui.PayMentHistory"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".ui.Login"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddExpenseOrDebts"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Wages"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Debts"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Expense"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Clients"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManageExpense"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Income"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManageProject"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Workers"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Projects"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddTraderOrWorker"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Traders"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>